# Introduction to Python and Google Colab
## Mohanad Mohammed (mohanadadam32@gmail.com)

## What is Python?

* Python is a widely used general-purpose, high level programming language.
* It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation.
* It was designed with an emphasis on code readability, and its syntax allows programmers to express their concepts in fewer lines of code.
* Python is a programming language that lets you work quickly and integrate systems more efficiently.

# Why Learn Python?
* Flexibility in processing data
* Fast becoming Data Science industry standard tool - a lot of support online
* Relatively easier that other programming languages
* Rich set of tools and libraries

# How to Get Started Using Python
1. Install [Anaconda](https://www.anaconda.com/download) on your machine
2. Create a Google account then access [Google Colab](https://colab.research.google.com/)
3. Install an IDE such as [Pycharm](https://www.jetbrains.com/pycharm/download/)
4. Consult Python [documentation](https://docs.python.org/)
5. Prepare, Practise and Present

# Some Technical Terms
* RAM, CPU, GPU and TPU
* Runtime
* Mount a drive
* IDE
* GitHub
* Program, module and package
* Jupyter notebooks vs labs

# Notebooks
* Comprise of cells (code and markdown) - to enable interactive presentations
* Implemented as a webserver (on localhost, network or the internet e.g. Google Colab)
* Run in a kernel that keeps track of program state
* Can be exported to HTML, Latex and PDF
* Can incorporate widgets for richer user interaction

# Google Colab
* Generally hosted on Google Drive - notebooks are stored in *My Drive > Colab Notebooks*. Can also be saved to GitHub
* Notebooks can be shared with other Google accounts via editor, viewer and commenter permission modes
* Notebook settings include language (Python 3 or R) and accelerator (None, GPU or TPU)
* Colab limitations:
 * resource availability is subject to demand
 * 12 hour session time limit
 * No warranties on resource robustness
 * No inbuilt persistant storage - temporary storage deleted at the end of the session

# Writing our first program:

Just type in the following code after you start the interpreter.

In [ ]:
# Script Begins

print("Hello World")

# Scripts Ends

Hello World

Let’s analyze the script line by line.

**Line 1:** [# Script Begins] In Python, comments begin with a **#**. This statement is ignored by the interpreter and serves as documentation for our code.

**Line 2:** [print("Hello World")] To print something on the console, *print()* function is used. This function also adds a newline after our message is printed(unlike in C).

Note that in Python 2, “print” is not a function but a keyword and therefore can be used without parentheses.

However, in Python 3, it is a function and must be invoked with parentheses.

**Line 3:** [# Script Ends] This is just another comment like in Line 1.

# Using Python as a Calculator

## Numbers

The interpreter acts as a simple calculator: you can type an expression at it and it will write the value. Expression syntax is straightforward: the operators `+`, `-`, `*` and `/` can be used to perform arithmetic; parentheses (`()`) can be used for grouping. For example:

In [ ]:
2+2

4

In [ ]:
50 - 5*6

20

In [ ]:
(50 - 5*6) / 4

5.0

In [ ]:
8 / 5  # division always returns a floating point number

1.6

The integer numbers (e.g. 2, 4, 20) have type int, the ones with a fractional part (e.g. 5.0, 1.6) have type float. We will see more about numeric types later in the session.

Division (`/`) always returns a float. To do floor division and get an integer result you can use the `//` operator; to calculate the remainder you can use `%`:

In [ ]:
17 / 3  # classic division returns a float

5.666666666666667

In [ ]:
17 // 3  # floor division discards the fractional part

5

In [ ]:
17 % 3  # the % operator returns the remainder of the division

2

In [ ]:
5 * 3 + 2  # floored quotient * divisor + remainder

17

With Python, it is possible to use the `**` operator to calculate powers

In [ ]:
5 ** 2  # 5 squared

25

In [ ]:
2 ** 7  # 2 to the power of 7

128

The equal sign (`=`) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive prompt:

In [ ]:
width = 20

In [ ]:
height = 5 * 9

In [ ]:
width * height

900

If a variable is not “defined” (assigned a value), trying to use it will give you an error:

In [ ]:
n  # try to access an undefined variable

NameError: name 'n' is not defined

There is full support for floating point; operators with mixed type operands convert the integer operand to floating point:

In [ ]:
4 * 3.75 - 1

14.0

In interactive mode, the last printed expression is assigned to the variable `_`. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [ ]:
tax = 12.5 / 100

In [ ]:
price = 100.50

In [ ]:
price * tax

12.5625

In [ ]:
price + _

113.0625

In [ ]:
round(_, 2)

113.06

This variable should be treated as read-only by the user. Don’t explicitly assign a value to it — you would create an independent local variable with the same name masking the built-in variable with its magic behavior.

In addition to int and float, Python supports other types of numbers, such as Decimal and Fraction. Python also has built-in support for complex numbers, and uses the `j` or `J` suffix to indicate the imaginary part (e.g. `3+5j`).

## Text
Python can manipulate text (represented by type `str`, so-called “strings”) as well as numbers. This includes characters “`!`”, words “`rabbit`”, names “`Paris`”, sentences “`Got your back.`”, etc. “`Yay! :)`”. They can be enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result.

In [ ]:
'spam eggs'  # single quotes

'spam eggs'

In [ ]:
"Paris rabbit got your back :)! Yay!"  # double quotes

'Paris rabbit got your back :)! Yay!'

In [ ]:
'1975'  # digits and numerals enclosed in quotes are also strings

'1975'

To quote a quote, we need to “escape” it, by preceding it with `\`. Alternatively, we can use the other type of quotation marks:

In [ ]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [ ]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [ ]:
'"Yes," they said.'

'"Yes," they said.'

In [ ]:
"\"Yes,\" they said."

'"Yes," they said.'

In [ ]:
'"Isn\'t," they said.'

'"Isn\'t," they said.'

In the Python shell, the string definition and output string can look different. The `print()` function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline

In [ ]:
s  # without print(), special characters are included in the string

'First line.\nSecond line.'

In [ ]:
print(s)  # with print(), special characters are interpreted, so \n produces new line

First line.
Second line.

If you don’t want characters prefaced by `\` to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [ ]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [ ]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

String literals can span multiple lines. One way is using triple-quotes: `"""..."""` or `'''...'''`. End of lines are automatically included in the string, but it’s possible to prevent this by adding a `\` at the end of the line. The following example:

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

Strings can be concatenated (glued together) with the `+` operator, and repeated with `*`:

In [ ]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.

In [ ]:
'Py' 'thon'

'Python'

This feature is particularly useful when you want to break long strings:

In [ ]:
text = ('Put several strings within parentheses '
        'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

This only works with two literals though, not with variables or expressions:

In [ ]:
prefix = 'Py'

In [ ]:
prefix 'thon'  # can't concatenate a variable and a string literal

SyntaxError: invalid syntax (<ipython-input-46-c5901e312aa3>, line 1)

In [ ]:
('un' * 3) 'ium'

SyntaxError: invalid syntax (<ipython-input-42-f4764cbe42a8>, line 1)

If you want to concatenate variables or a variable and a literal, use `+`:

In [ ]:
prefix + 'thon'

'Python'

Strings can be indexed (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [ ]:
word = 'Python'

In [ ]:
word[0]  # character in position 0

'P'

In [ ]:
word[5]  # character in position 5

'n'

Indices may also be negative numbers, to start counting from the right:

In [ ]:
word[-1]  # last character

'n'

In [ ]:
word[-2]  # second-last character

'o'

In [ ]:
word[-6]

'P'

Note that since -0 is the same as 0, negative indices start from -1.

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain a substring:

In [ ]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

Slice indices have useful defaults; an omitted first index defaults to zero, an omitted second index defaults to the size of the string being sliced.

In [ ]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [ ]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [ ]:
word[-2:]  # characters from the second-last (included) to the end

'on'

Note how the start is always included, and the end always excluded. This makes sure that `s[:i] + s[i:]` is always equal to `s`:

In [ ]:
word[:2] + word[2:]

'Python'

In [ ]:
word[:4] + word[4:]

'Python'

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*, for example:

+---+---+---+---+---+---+ \\
| P | y | t | h | o | n | \\
 +---+---+---+---+---+---+ \\
 0  1   2   3   4   5   6 \\
-6  -5  -4  -3  -2  -1

The first row of numbers gives the position of the indices 0…6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is 2.

Attempting to use an index that is too large will result in an error:

In [ ]:
word[42]  # the word only has 6 characters

IndexError: string index out of range

However, out of range slice indexes are handled gracefully when used for slicing:

In [ ]:
word[4:42]

'on'

In [ ]:
word[42:]

''

Python strings cannot be changed — they are **immutable**. Therefore, assigning to an indexed position in the string results in an error:

In [ ]:
word[0] = 'J'

TypeError: 'str' object does not support item assignment

In [ ]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

If you need a different string, you should create a new one:

In [ ]:
'J' + word[1:]

'Jython'

In [ ]:
word[:2] + 'py'

'Pypy'

The built-in function `len()` returns the length of a string:

In [ ]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

# First Steps Towards Programming

Of course, we can use Python for more complicated tasks than adding two and two together. For instance, we can write an initial sub-sequence of the **Fibonacci series** as follows:

In [ ]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

This example introduces several new features.

  * The first line contains a *multiple assignment*: the variables `a` and `b` simultaneously get the new values 0 and 1. On the last line this is used again, demonstrating that the expressions on the right-hand side are all evaluated first before any of the assignments take place. The right-hand side expressions are evaluated from the left to the right.

  * The **while** loop executes as long as the condition (here: `a < 10`) remains true. In Python, like in C, any non-zero integer value is true; zero is false. The condition may also be a string or list value, in fact any sequence; anything with a non-zero length is true, empty sequences are false. The test used in the example is a simple comparison. The standard comparison operators are written the same as in C: `<` (less than), `>` (greater than), `==` (equal to), `<=` (less than or equal to), `>=` (greater than or equal to) and `!=` (not equal to).

  * The body of the loop is indented: indentation is Python’s way of grouping statements. At the interactive prompt, you have to type a tab or space(s) for each indented line. In practice you will prepare more complicated input for Python with a text editor; all decent text editors have an auto-indent facility. When a compound statement is entered interactively, it must be followed by a blank line to indicate completion (since the parser cannot guess when you have typed the last line). Note that each line within a basic block must be indented by the same amount.

  * The **print()** function writes the value of the argument(s) it is given. It differs from just writing the expression you want to write (as we did earlier in the calculator examples) in the way it handles multiple arguments, floating point quantities, and strings. Strings are printed without quotes, and a space is inserted between items, so you can format things nicely, like this:

In [ ]:
i = 256*256
print('The value of i is', i)

The value of i is 65536

The keyword argument end can be used to avoid the newline after the output, or end the output with a different string:

In [ ]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,